<header>
  <%= image_tag("images/logo.png", :alt => "Sample App", :class => "round") %>
    <nav class="round">
      <ul>
        <li><%= link_to "На главную", root_path %></li>
        <li><%= link_to "Связатся", contact_path %></li>
        <li><%= link_to "Зарегистрироватся", signup_path %></li>
      </ul>
    </nav>
</header>
